streamlit
librosa
numpy
noisereduce
demucs
torch
torchaudio
pydub
soundfile
ffmpeg-python
streamlit>=1.22.0
librosa>=0.9.2
numpy>=1.22.0
noisereduce>=1.0.0
demucs>=3.0.0
torch>=1.12.0
torchaudio>=0.12.0
soundfile>=0.11.0
